<!DOCTYPE html>
<html lang="en">
<body>
    <div th:fragment="main">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-1 min-vh-100 bg-dark pt-5" >
                </div>
                <div class="col-2 pt-5">
                    menu
                </div>
                <div class="col-8">
                    Container Right
                </div>
                <div class="col-1 min-vh-100 bg-dark pt-5">
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>