<!DOCTYPE html>
<html lang="en">
<body>
    <div th:fragment="user_view">
        <div class="fluid-container pt-3">
            <table class ="table table-bordered" >
                <thead class="bg-dark">
                <tr class="">
                    <th class="text-center text-light"> Username </th>
                    <th class="text-center text-light"> Name </th>
                    <th class="text-center text-light"> Email </th>
                    <th class="text-center text-light"> Actions </th>
                </tr>
                </thead>
                <tbody style="text-align:center; background-color:rgb(77, 77, 77);">
                <tr th:each="user: ${users}">
                    <td class="text-center text-light" th:text = ${user.username} ></td>
                    <td class="text-center text-light" th:text = ${user.name}></td>
                    <td class="text-center text-light" th:text = ${user.email}></td>
                    <td>
                        <a th:href="@{users/update/{id} (id = ${user.id})}"><button class="btn btn-primary btn-sm" style="width: fit-content; height: fit-content;"> Update </button></a>
                        <a th:href="@{users/delete/{id} (id = ${user.id})}"><button class="btn btn-danger btn-sm" style="width: fit-content; height: 31px;"> Delete </button></a>
                    </td>   
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>