<!DOCTYPE html>
<html lang="en">
<body>
    <section th:fragment="navbar">
        <div th:insert="Components/header::navbar"></div>
    </section>
    <section th:fragment="main">
        <div th:insert="Components/main :: main"></div>
    </section>
    <section th:fragment="empty"></section>
    <section th:fragment="user_main">
        <div th:insert="Components/user_main :: user_main"></div>
    </section>
    <section th:fragment="user_view">
        <div th:insert="Components/user_view :: user_view"></div>
    </section>
    <section th:fragment="user_create">
        <div th:insert="Components/user_create :: user_create"></div>
    </section>
</body>
</html>