<!DOCTYPE html>
<html lang="en">
    <body>
        <div th:fragment="add_people">
            <form method="post" th:action="@{/person/post}" th:object="${newPerson}">
                <input id="dni" placeholder="dni" required type="number" th:field="*{dni}"/>
                <input id="name" placeholder="name" required type="text" th:field="*{name}"/>
                <input id="email" placeholder="email" required type="text" th:field="*{email}"/>
                <button type="submit">  
                    Create Person 
                </button>
            </form>
        </div>
    </body>
</html>